@use './silent-classes';

.consultation {
    #content {
        margin-bottom: 4rem;
    }

    .consultation-content {
        height: 200vh;

        h1 {
            @extend %centerH1;
        }
    }

    .contact {
        div {
            &:first-child {
                border-bottom: 1px solid;
                padding: 0.5rem;
            }
        }

        margin: 0 auto;
        min-height: 20rem;
        max-width: 30rem;
        border: 1px solid;
        text-align: center;
    }
}
