@use './silent-classes';

.consultation {
    .consultation-content {
        height: 100vh;

        .calendly-inline-widget {
            width: 50vw;
            height: 50vh;
            margin: 0 auto;
            margin-top: 2rem;
        }

        h1 {
            @extend %centerH1;
        }
    }

    .contact {
        div {
            &:first-child {
                border-bottom: 1px solid;
                padding: 0.5rem;
            }
        }

        margin: 0 auto;
        min-height: 20rem;
        max-width: 30rem;
        border: 1px solid;
        text-align: center;
    }
}
