@use './variables' as v;
@use './silent-classes';

.home {
    h2 {
        @extend %head;
    }

    // .btn-link {
    //     @extend %btn-text;
    //     @extend %all-caps;
    //     padding: 0.4em 1em;
    // }

    .section-one {
        display: flex;
        text-align: center;
        
        > div {
            padding: 3vw;
            flex-basis: 50%;
        }

        .intro {
            justify-content: center;
            display: flex;
            flex-direction: column;

            p {
                margin: 0 2rem;
            }

            .btn-link {
                margin-top: 2.4em;
            }
        }
    }

    .featured-image {
        // width: 50%;
        // padding: 2rem;
        // padding: 2.777vw;
        border-right: 1px solid;
        // margin-right: 0;
        img {
            vertical-align: middle;
        }
    }

    .section-two {
        background-color: v.$black;
        color: v.$white;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 2rem;

        .section-two-content {
            position: relative;
            top: 2rem;
            padding: 3vw;
            flex-basis: 60%;
            line-height: 2.01vw;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 2rem;

            p {
                margin: 0 2rem;
            }

            hr {
                margin-bottom: 2rem;
                width: 70%;
            }

            .about-cor {
                img {
                    height: 10rem;
                    bottom: 1rem;
                    position: relative;
                    left: -12rem;
                }
            }
        }

        .credentials {
            margin: 0 2rem;
            margin-top: 1rem;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            bottom: 8rem;

            .certificate {
                margin-top: 0.5rem;
            }

            img {
                height: 100%;
                position: relative;
                top: -2.2rem;
                left: -1rem;
            }

            div:first-child {
                font-size: 1.5vw;
            }

            div:last-child {
                font-size: 1vw;
            }
        }

        .more-about-me {
            a.btn-link {
                background-color: v.$black;
                color: v.$white;
                border-color: v.$white;
                margin-top: 2.4em;

                &:hover {
                    background-color: lighten(v.$black, 20%);
                }
            }
        }

        > div {
            padding: 3vw;
        }

        .img-two {
            flex-basis: 40%;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    .section-three {
        display: flex;
        > div {
            flex-basis: 50%;
            padding: 3vw;
        }

        .column-pic {
            text-align: center;
            border-right: 1px solid;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .column-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    #services {
        margin-bottom: 4rem;

        h2 {
            font-size: 1.11vw;
        }

        p {
            margin-top: 1rem;
        }

        > div {
            max-width: v.$textMw;
            margin: 0 auto;
        }

        .services-icons {
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
            text-align: center;
            margin: 5rem 2rem;

            li {
                margin-bottom: 0.4rem;
                font-size: 1.2vw;
                width: 20vw;
                img {
                    object-fit: contain;
                    max-width: 100%;
                }
            }

            img {
                height: 7rem;
            }

            h3 {
                @extend %all-caps;
                font-family: "Wigrum", serif;
                font-weight: lighter;
                font-size: 1.11vw;
                text-decoration: underline;
                text-underline-offset: 0.6em;
            }

            ul {
                padding: 0;
                list-style: none;
            }
        }
    }

    .schedule-consultation {
        display: flex;
        background-color: v.$black;
        padding: 4rem clamp(2rem, 10vw, 8rem);
        text-align: center;

        p {
            margin-top: 1rem;
            &:first-child {
                margin-top: 0;
            }
        }

        .left-col {
            width: 50%;
            color: v.$white;
            padding: 1rem;
        }
        .right-col {
            width: 50%;
            color: v.$white;
            margin-left: 6rem;

            vertical-align: middle;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                color: v.$white;
                border-color: v.$white;
                background-color: v.$black;

                &:hover {
                    background-color: lighten(v.$black, 20%);
                }
            }
        }
    }

    .foot {
        background-color: v.$black;
        color: v.$white;
        padding-bottom: 2rem;
        padding-top: 0;

        h2 {
            margin: 0;
            margin-bottom: 2rem;
            margin-left: 1rem;
        }

        .contact-info {
            margin-left: 1rem;
            a {
                color: v.$white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .main-nav {
            border: none;
            margin-bottom: 7rem;
            padding-bottom: 0.4rem;
            padding-top: 0.5rem;
            border-bottom: 1px solid;
            border-top: 1px solid;
        }

        ul {
            border-color: v.$white;
            margin-bottom: 0;
            border-bottom-width: 0;
            a {
                color: v.$white;
            }
        }
    }
}




// example media query
@media only screen and (min-width: 600px) {
    body {
        background-color: pink;
    }
}
