@use './variables' as v;
@use './silent-classes';

.home {
    h2 {
        @extend %head;
    }

    .section-one {
        display: flex;
        text-align: center;

        .intro {
            margin: 0 clamp(2rem, 5vw, 6rem);
            margin-top: 15%;
            margin-bottom: 1rem;
            width: 45%;

            .btn-link {
                font-size: 17px;
                letter-spacing: 0.02rem;
                margin-top: 2rem;
                width: 279px;
                max-width: 100%;

                // letter-spacing: 0.05rem;
                // margin-top: 4rem;
                // width: 17rem;
                // max-width: 100%;
                // font-size: min(3vw, 0.9rem);
            }
        }
    }

    .featured-image {
        width: 50%;
        padding: 2rem;
        border-right: 1px solid;
        margin-right: 0;
        img {
            vertical-align: middle;
        }
    }

    .section-two {
        background-color: v.$black;
        color: v.$white;
        padding: 4rem 2rem;
        display: flex;
        text-align: center;
        align-items: end;

        .section-two-content {
            padding-top: 3rem;
            line-height: 1.8rem;

            hr {
                margin-bottom: 2rem;
                width: 80%;
            }
        }

        .credentials {
            margin-top: 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
            position: relative;
            left: -2rem;

            img {
                height: 100%;
                position: relative;
                top: -2rem;
            }

            div:first-child {
                font-size: 1.2rem;
                position: relative;
                left: -1rem;
            }

            div:last-child {
                font-size: 0.7rem;
            }
        }

        .more-about-me {
            a.btn-link {
                background-color: v.$black;
                color: v.$white;
                border-color: v.$white;
                max-width: 10rem;
                margin-top: 1rem;
                font-size: 17px;

                padding: 0.7em 0;
                // padding-bottom: 0.4em;

                &:hover {
                    background-color: lighten(v.$black, 20%);
                }
            }
        }

        > div {
            padding: 0 1rem;
            width: 50%;
        }

        .img-two {
            img {
                max-width: 100%;
            }
        }
    }

    #services {
        margin-bottom: 4rem;

        p {
            margin-top: 1rem;
        }

        > div {
            max-width: v.$textMw;
            margin: 0 auto;
        }

        .services-icons {
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
            text-align: center;
            margin: 5rem 2rem;

            li {
                width: 20vw;
                img {
                    object-fit: contain;
                    max-width: 100%;
                }
            }

            img {
                height: 7rem;
            }

            h3 {
                font-family: "Wigrum", serif;
                font-weight: lighter;
            }

            ul {
                padding: 0;
                list-style: none;
            }
        }
    }

    .schedule-consultation {
        display: flex;
        background-color: v.$black;
        padding: 4rem clamp(2rem, 10vw, 8rem);
        text-align: center;

        p {
            margin-top: 1rem;
            &:first-child {
                margin-top: 0;
            }
        }

        .left-col {
            width: 50%;
            color: v.$white;
            padding: 3rem;
        }
        .right-col {
            width: 50%;
            color: v.$white;
            margin-left: 3rem;

            vertical-align: middle;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                margin-top: 0;
                max-width: 18rem;
                color: v.$white;
                border-color: v.$white;
                background-color: v.$black;
                padding: 0.8rem 1rem;
                padding-bottom: 0.6rem;
                letter-spacing: 0.05em;

                &:hover {
                    background-color: lighten(v.$black, 20%);
                }
            }
        }
    }

    .foot {
        background-color: v.$black;
        color: v.$white;
        padding-bottom: 2rem;
        padding-top: 0;

        h2 {
            margin: 0;
            margin-bottom: 2rem;
            margin-left: 1rem;
        }

        .contact-info {
            margin-left: 1rem;
            a {
                color: v.$white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .main-nav {
            border: none;
            margin-bottom: 6rem;
            padding-bottom: 0.4rem;
            padding-top: 0.5rem;
            border-bottom: 1px solid;
            border-top: 1px solid;
        }

        ul {
            border-color: v.$white;
            margin-bottom: 0;
            border-bottom-width: 0;
            a {
                color: v.$white;
            }
        }
    }
}
