@use './variables' as v;
@use './silent-classes';
@use './media' as media;

.home {
    h2 {
        @extend %head;
    }

    .section-one {
        display: flex;
        text-align: center;
        
        > div {
            // padding: 3vw;
            padding: 4rem 2rem;
            flex-basis: 50%;

            @include media.mobile {
                padding: 4rem 1rem;
                padding-bottom: 2rem;
            }
        }

        .intro {
            justify-content: center;
            display: flex;
            flex-direction: column;

            p {
                margin: 0 2rem;
            }

            .btn-link {
                margin-top: 2.4em;
            }
        }
    }

    .featured-image {
        // width: 50%;
        // padding: 2rem;
        // padding: 2.777vw;
        border-right: 1px solid;
        // margin-right: 0;
        img {
            vertical-align: middle;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .section-two {
        background-color: v.$black;
        color: v.$white;
        display: flex;
        justify-content: center;
        // justify-content: space-around;
        align-items: center;
        text-align: center;
        // margin-left: -5rem;
        min-height: 50vh;
        // padding: 2rem;
        // padding-top: 4rem;
        // padding-bottom: 4rem;
        // padding: v.$sectionPadding;

        .pointless-div {
            margin: 1rem;
            width: 50%;
            @include media.mobile {
                margin: 0;
                width: initial;
            }
        }

        @include media.mobile {
            margin-left: 0;
            padding: 4rem 1rem;
        }

        .about-cor {
            // margin: 0 2rem;

            @include media.mobile {
                margin: 0;
            }
        }

        .daisy-box {
            width: 7vw;
            min-width: 3rem;

            // @include media.mobile {
            //     position: relative;
            //     top: 6rem;
            //     left: 0.5rem;
            // }
        }

        img {
            &.daisies {
                width: 7vw;
                min-width: 3rem;
                // height: clamp(7rem, 20vh, 8rem);
                // width: 5rem;
                // align-self: end;
                // position: relative;

                // bottom: 25vh;
                // left: 30vh;

                // @include media.tablet {
                //     left: 7rem;
                //     bottom: 12vh;
                // }

                // @include media.mobile {
                //     align-self: start;
                //     left: 0vh;
                //     bottom: 18vh;
                // }
            }
        }

        .section-two-content {
            // padding: 0;
            // height: 100vh;
            flex-basis: 50%;
            // display: flex;
            // align-items: center;
            // flex-direction: column;
            // justify-content: center;

            p {
                margin: 0 2rem;

                @include media.tablet {
                    margin: 0;
                }
            }

            hr {
                margin-bottom: 2rem;
                width: 70%;
            }
        }

        .credentials {
            display: flex;
            margin: 2rem;
            // margin-top: 0;
            margin-top: 2rem;
            text-align: center;
            justify-content: start;
            align-items: center;
            // margin-left: 3.5vw;
            margin-bottom: 1em;

            @include media.mobile {
                margin: 0;
                margin-bottom: 2.4em;
                margin-top: 2rem;
                justify-content: space-around;
            }

            .stupid-empty-box {
                // background-color: red;
                width: 7vw;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            .certificate {
                font-size: clamp(0.8rem, 1.2vw, 1rem);
            }

            // img {
            //     height: 100%;
            //     position: relative;
            //     top: -2.2rem;
            //     left: -1rem;
            // }

            // div:first-child {
            //     font-size: clamp(1rem, 1.5vw, 1.5rem);
            // }
        }

        .more-about-me {
            a.btn-link {
                background-color: v.$black;
                color: v.$white;
                border-color: v.$white;

                &:hover {
                    background-color: lighten(v.$black, 20%);
                }
            }
        }

        > div {
            padding: 1vw;
            @include media.mobile {
                padding: 0;
            }
        }

        .img-two {
            // flex-basis: 30%;
            // margin: 4vw;
            margin: 4rem 2rem;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    .section-three {
        display: flex;

        @include media.mobile {
            flex-direction: column;
            padding: 1rem;
        }

        > div {
            padding: 3vw;
            flex-basis: 50%;
        }

        .column-pic {
            max-height: 600px;
            padding: 4rem 2rem;
            // padding-top: 4rem;
            // padding-bottom: 4rem;
            text-align: center;
            border-right: 1px solid;
            justify-content: center;
            flex-direction: column;
            display: flex;
            vertical-align: middle;
            align-items: center;

            @include media.mobile {
                border-right: none;
                // padding-top: 2rem;
                padding: 2rem 1vw;
                // padding-bottom: 2rem;
                // padding-left: 1vw;
                // padding-right: 1vw;
            }

            img {
                height: 100%;
                width: 100%;
                // width: 80%;
                object-fit: cover;

                // @include media.mobile {
                //     width: 100%;
                // }
            }
        }

        .column-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    #services {
        margin-bottom: 4rem;

        h2 {
            font-size: clamp(0.8rem, 1.11vw, 1.5rem);
        }

        // p {
        //     margin-top: 1rem;
        // }

        > div {
            max-width: v.$textMw;
            margin: 0 auto;
        }

        .services-icons {
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
            text-align: center;
            margin: 5rem 2rem;

            @include media.mobile {
                margin-left: 0;
                margin-right: 0;
                justify-content: space-between;
                flex-direction: column;
            }

            > li {
                @include media.mobile {
                    margin-top: 4rem;
                }
            }

            li {
                margin-bottom: 0.4rem;
                // font-size: 1rem;
                // font-size: clamp(1rem, 1.2vw, 1rem);
                // width: 20vw;

                &:first-child {
                    margin-top: 0;
                }

                img {
                    object-fit: contain;
                    max-width: 100%;
                }
            }

            img {
                height: 7rem;
            }

            h3 {
                @extend %all-caps;
                font-family: "Wigrum", serif;
                font-weight: lighter;
                font-size: clamp(0.8rem, 1.11vw, 1rem);
                text-decoration: underline;
                text-underline-offset: 0.6em;
            }

            ul {
                padding: 0;
                list-style: none;
            }
        }
    }

    .schedule-consultation {
        display: flex;
        background-color: v.$black;
        padding: 4rem clamp(2rem, 10vw, 8rem);
        text-align: center;

        p {
            margin-top: 1rem;

            @include media.mobile {
                margin-bottom: 0;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .left-col {
            flex-basis: 50%;
            flex: 1 1 0;
            color: v.$white;
            padding: 2rem 4rem;

            @include media.tablet {
                padding: 2rem 0rem;
            }
        }
        .right-col {
            // width: 50%;
            flex-basis: 50%;
            color: v.$white;
            // margin-left: 6rem;

            vertical-align: middle;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                color: v.$white;
                border-color: v.$white;
                background-color: v.$black;

                @include media.mobile {
                    margin: 0 auto;
                }

                &:hover {
                    background-color: lighten(v.$black, 20%);
                }
            }
        }
    }

}





// example media query
@media only screen and (max-width: 600px) {
    #services {
        h2 {
            margin-left: -1rem;
            margin-bottom: 1rem;
        }
        
        // .services-icons {
        //     margin-left: 0;
        //     margin-right: 0;
        // }

    }
}
