@use './variables' as v;
@use './media' as media;

body {
    > .main-nav {

        @include media.mobile {
            background-color: v.$black;
            width: 100vw;
            height: 100vh;
            
            &.open {
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding: 1rem;
                position: absolute;
                top: 0;
            }
            li {
                margin-bottom: 1rem;
                a {
                    color: white;
                }
            }
        }
    }
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.8rem 0;
    margin-top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: v.$sansFont;
    font-weight: lighter;
    font-size: 1.11vw;
    margin-bottom: 0;
    font-size: clamp(0.7rem, 1.11vw, 20px);

    @include media.mobile {
        display: none;
    }

    li {
        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: black;

            &:hover {
                border-bottom: 1px solid #000;
            }
        }

        &.active {
            border-bottom: 1px solid #000;
        }
    }
}
