@use './variables' as v;
@use './media' as media;

body {
    > .main-nav {

        .close {
            margin-bottom: 2rem;
            display: none;

            button {
                background-color: transparent;
                border: none;
                color: white;
                padding: 0;
            }
        }

        @include media.mobile {
            background-color: v.$black;
            width: 100vw;
            height: 100vh;
            
            &.open {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding: 1rem;
                top: 0;

                .close {
                    display: initial;
                };
            }
            li {
                margin-bottom: 1rem;
                a {
                    color: white;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.foot {
    .main-nav {
        display: flex;
        margin-bottom: 7rem;
        border: none;
        padding-bottom: 0.4rem;
        padding-top: 0.5rem;
        border-bottom: 1px solid;
        border-top: 1px solid;

        @include media.mobile {
            // display: none;
            padding-bottom: 0;
            padding-top: 1rem;
            margin-bottom: 3rem;
            flex-direction: column;
            border: none;

            li {
                // &:first-child {
                //     border-top: 1px solid;
                // }
                padding-left: 1rem;
                border-bottom: 1px solid;
                margin-bottom: 1rem;
            }
        }
    }

}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.8rem 0;
    margin-top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: v.$sansFont;
    font-weight: lighter;
    font-size: 1.11vw;
    margin-bottom: 0;
    font-size: clamp(0.7rem, 1.11vw, 20px);


    li {
        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: black;

            &:hover {
                border-bottom: 1px solid #000;
            }
        }

        &.active {
            border-bottom: 1px solid #000;
        }
    }
}
