@use './silent-classes';

.resources {
    #content {
        margin-top: 5rem;
    }

    .resources-content {
        font-size: 1rem;
        max-width: 50rem;
        margin: 0 auto;
        margin-bottom: 6rem;

        li {
            margin-bottom: 2rem;
            a {
                color: initial;
            }
        }
    }

    h1 {
        // @extend %centerH1;
        @extend %head;
        text-transform: uppercase;
        font-size: clamp(0.8rem, 1.11vw, 1.5rem);
        font-weight: normal;
    }
}
