
%head {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 4rem 4rem;
    font-family: 'Wigrum', serif;
    font-weight: 100;
    letter-spacing: 0.02em;
}

%main-text {
    max-width: 40rem;
    margin: 0 auto;
}

%all-caps {
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

%head-size {
    font-size: 1.11vw;
}

%btn-text {
    font-size: clamp(0.7rem, 1.11vw, 1rem);
}

%centerH1 {
    margin: 0 auto;
    border-bottom: 1px solid;
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
    max-width: 30rem;
}
