$green: #008051;
$textMw: 40rem;
$btnCol: #EEE8E1;
$white: #EDEEEC;
$black: #131311;
$sansFont: 'Wigrum';
$sectionPadding: 3vw;
// $breakpoint-med: 992px;
$breakpoints: (phone: 640px, 
               med: 992px, 
               large: 1440px) !default;
// $sansFontLight: 'WigrumLight';