@font-face {
    font-family: 'lora';
    // src: url('webfont.eot'); /* IE9 Compat Modes */
    // src: url('Merriweather-Regular.ttf')  format('truetype')
    src: url('Lora-VariableFont_wght.ttf')  format('truetype')
}

body {
    // background-color: pink;

    .featured-image {
        text-align: center;
    }
    
    #content {
        font-family: 'lora', serif;
    }
}

.main-nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
    li {
        a {
            text-decoration: none;
        }

        &.active {
            border-bottom: 3px solid #000;
        }
    }
}
