body {
    background-color: pink;

    div {
        text-align: center;
    }
}

.main-nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
    li {
        a {
            text-decoration: none;
        }

        &.active {
            border-bottom: 3px solid #000;
        }
    }
}
