@use './variables' as v;
@use './home';
@use './main-nav';
@use './silent-classes';
@use './about';
@use './resources';
@use './consultation';

@font-face {
    font-family: 'Mackinac';
    src: url('P22MackinacPro-Book_25.otf') format('opentype');
}

@font-face {
    font-family: 'Wigrum';
    // font-weight: lighter;
    src: url('wigrum-light-TRIAL.otf ') format('opentype');
}

@font-face {
    font-family: 'WigrumLight';
    // font-weight: lighter;
    src: url('wigrum-extralight-TRIAL.otf') format('opentype');
}

@font-face {
    font-family: 'WigrumThin';
    // font-weight: lighter;
    src: url("wigrum-thin-TRIAL.otf") format("opentype");
}


// ------------------------------------------------------

html {
    // do root em size
    -webkit-font-smoothing: antialiased;
    font-size: clamp(14px, 1.3vw, 20px);
}

body {
    background-color: v.$white;
    margin: 0;
    font-family: 'Mackinac', sans-serif;

    #content {
        // font-family: 'Yrsa', serif;
        font-family: 'Mackinac', sans-serif;
        // font-family: 'lora', serif;
        font-weight: 300;
        margin: 0 auto;
        line-height: 1.8em;
    }

    p {
        margin: 0rem auto;
        margin-bottom: 1em;
    }
 
    .btn-link {
        @extend %btn-text;
        @extend %all-caps;
        display: inline-block;
        color: black;
        text-decoration: none;
        border: 1px solid black;
        text-align: center;
        margin: 0 auto;
        padding: 0.4em 1em;
        background-color: v.$btnCol;
        font-family: v.$sansFont;
        transition: 0.4s background-color;
        line-height: 1.8rem;

        &:hover {
            background-color: lighten(v.$btnCol, 10%);
        }
    }

    .main-logo {
        width: 46%;
        text-align: center;
        border-left: 1px solid;
        border-right: 1px solid;

        a {
            display: block;
            margin: 0 auto;
            width: 35%;
        }

        img {
            max-width: 100%;
        }
    }

    .description {
        font-family: v.$sansFont;
        font-size: clamp(2vw, 4vw, 1rem);
        text-transform: uppercase;
        text-align: center;
        line-height: 1.5rem;
        height: 25vh;
        width: 27vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        letter-spacing: 0.1em;

        img {
            height: 50%;
            width: 12vw;
        }

        &:first-child {
            padding-right: 2vw;
        }

        &:last-child {
            padding-left: 2vw;
        }
    }

    .featured-image {
        text-align: center;
        // width: 100%;
        // margin: 0;

        img {
            max-width: 100%;
        }
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 8px 0;
    }

    .foot {
        background-color: v.$black;
        color: v.$white;
        padding-bottom: 2rem;
        padding-top: 0;

        h2 {
            @extend %head;
            @extend %head-size;
            margin: 0;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }

        .contact-info {
            margin-left: 1rem;

            p {
                margin: 0;
            }

            a {
                color: v.$white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .main-nav {
            border: none;
            margin-bottom: 7rem;
            padding-bottom: 0.4rem;
            padding-top: 0.5rem;
            border-bottom: 1px solid;
            border-top: 1px solid;
        }

        ul {
            border-color: v.$white;
            margin-bottom: 0;
            border-bottom-width: 0;
            a {
                color: v.$white;
            }
        }
    }
}

// media queries
@media screen and (max-width: 650px) {
    html {
        font-size: 16px;
    }

    body {

        &.about {
            #content {
                flex-direction: column;
                .section-one, .section-two {
                    width: initial;
                }

                .section-one {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }
        }

        &.home {
            .section-one {
                flex-direction: column;

                .intro {
                    width: initial;
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                    p {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                }

                .featured-image {
                    border-right: none;
                    width: initial;
                }
            }

            .section-two {
                flex-direction: column;
                gap: 2rem;

                .img-two {
                    width: initial;
                }

                .section-two-content {
                    width: initial;
                }
            }

            #services {
                margin: 2rem;
            }

            .schedule-consultation {
                flex-direction: column;

                .left-col {
                    width: initial;
                    margin-bottom: 2rem;
                }
                .right-col {
                    width: initial;
                }
            }
        }
    }
}
